<div class="login-component">
    <div class="login-flex-container">
        <div class="left">
            <div class="img-container">
                <img src="../../../assets/images/login-1.png" alt="">
            </div>
        </div>
        <div class="right">
            <div class="login-form">
                <div class="title">
                    <h1 class="login">FORGOT PASSWORD</h1>
                </div>
                <div class="form-fields" [formGroup]="forgetPass">
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input type="email" name="email" formControlName="email">
                        <span class="error-box"
                            *ngIf="forgetSubmit && this.forgetPass.controls['email'].hasError('required')">Please enter
                            email</span>
                        <span class="error-box"
                            *ngIf="forgetSubmit && this.forgetPass.controls['email'].hasError('pattern')">Please enter
                            valid email</span>
                    </div>
                    <div class="login-btn">
                        <button class="btn" (click)="forgetPassSubmit()">Send Link</button>
                    </div>
                    <div class="signup-option">
                        <h1 class="signup-title">Remember password?</h1>
                        <h1 class="link"><a routerLink="/login">Login with Your Account</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>