<div class="login-component">
    <div class="login-flex-container">
        <div class="left">
            <div class="img-container">
                <img src="../../../assets/images/login-1.png" alt="">
            </div>
        </div>
        <div class="right">
            <div class="login-form">
                <div class="title">
                    <h1 class="login">SET PASSWORD</h1>
                </div>
                <div class="form-fields">
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div class="input-container">
                        <label for="repassword">Re-Password</label>
                        <input type="repassword" name="repassword">
                    </div>
                    <div class="login-btn">
                        <button class="btn">Set Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>