<div class="login-component">
    <div class="login-flex-container">
        <div class="left">
            <div class="img-container">
                <img src="../../../assets/images/login-1.png" alt="set password">
            </div>
        </div>
        <div class="right">
            <div class="login-form">
                <div class="title">
                    <h1 class="login">SET PASSWORD</h1>
                </div>
                <div class="form-fields" [formGroup]="setPass">
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input type="password" name="password" formControlName="password" minlength="8" maxlength="16"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                        <span class="error-box"
                            *ngIf="setSubmit && this.setPass.controls['password'].hasError('required')">Please
                            enter
                            password</span>
                        <span class="error-box"
                            *ngIf="setSubmit && this.setPass.controls['password'].hasError('minlength')">Password
                            min
                            length is 8</span>
                        <span class="error-box"
                            *ngIf="setSubmit && this.setPass.controls['password'].hasError('pattern')">Password
                            should
                            contain at least one uppercase letter, one lowercase letter, one number and one special
                            character</span>
                    </div>
                    <div class="input-container">
                        <label for="repassword">Re-Password</label>
                        <input type="password" name="repassword" formControlName="repassword" minlength="8"
                            maxlength="16"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                        <span class="error-box"
                            *ngIf="setSubmit && this.setPass.controls['repassword'].hasError('required')">Please
                            enter
                            password</span>
                        <span class="error-box"
                            *ngIf="setSubmit && this.setPass.controls['repassword'].hasError('minlength')">Password
                            min
                            length is 8</span>
                        <span class="error-box"
                            *ngIf="setSubmit && !checkpasswordMatch() && this.setPass.controls['repassword'].value">Password
                            did not match</span>
                        <span class="error-box"
                            *ngIf="setSubmit && this.setPass.controls['repassword'].hasError('pattern')">Password
                            should
                            contain at least one uppercase letter, one lowercase letter, one number and one special
                            character</span>
                    </div>
                    <div class="login-btn">
                        <button class="btn" (click)="setpass()">Set Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>