@import './mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



$cr-font: 'Poppins', sans-serif;

$cr-white : #fff;
$cr-black : #000;
$cr-font-black : #212121;
$cr-form-bg-gray: #F4F4F4;
$cr-button-bg-HippieBlue : #6096ba;
$cr-font-red: #ff0000;
$cr-notification-bg-yellow: rgb(200, 200, 0);
$cr-credit-border: #3B3A3A;
$-cr-credit-blue: rgb(2, 65, 255);
$cr-fontinput-black: #495057;
$cr-dashboard-color: grey;
$cr-color2: #dee2e6;
$cr-color3: #c2c5c7;
$cr-color4: #3c5e74;
$cr-color5: #41924B;
$cr-color6: #33743b;
$cr-color7: #f29c2b;
$cr-color8: #6abe83;
$cr-color9: #579c6c;
$cr-color10: #f1404b;
$cr-color11: #ca313c;
$cr-color12: #9a6116;
$cr-color13: #4c7c9c;
$cr-color14: #F5D769;
$cr-color15: #ceb55c;
$cr-color16: #9a6116;
$cr-color17: #343434;
$cr-color18: lavender;
$cr-color19: #EFF6FF;
$cr-color20: #1D4ED8;


$cr-font7: 0.438em;
$cr-font10: 0.7em;
$cr-font10-5: 0.75em;
$cr-font11: 0.688em;
$cr-font12: 0.75em;
$cr-font13: 0.85em;
$cr-font14: 0.875em;
$cr-font15: 0.938em;
$cr-font16: 1em;
$cr-font18: 1.125em;
$cr-font20: 1.25em;
$cr-font24: 1.5em;
$cr-font25: 1.5rem;
$cr-font26: 2em;
$cr-font35: 2.188em;
$cr-font48: 3em;