@import '../../../../assets/scss/varibles.scss';

.home-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0em;
    padding: 2em 1em;
    text-align: -webkit-center;

    @include phone-landscape {
        flex-direction: column;
    }

    @include small-phone-landscape {
        flex-direction: column;
    }

    @include tablet-portrait {
        flex-direction: column;
    }

    @include phone-portrait {
        flex-direction: column;
    }

    @include small-phone-portrait {
        flex-direction: column;
    }

    .home-container-left {
        width: 50%;
        padding-top: 2em;

        @include phone-landscape {
            width: 100%;
        }

        @include small-phone-landscape {
            width: 100%;
        }

        @include tablet-portrait {
            width: 100%;
        }

        @include phone-portrait {
            width: 100%;
        }

        @include small-phone-portrait {
            width: 100%;
        }

        h1 {
            font-family: $cr-font;
            font-style: normal;
            font-weight: 400;
            font-size: 2.5em;
            line-height: 59px;
            text-align: center;
            color: #ab1e43;
            width: 70%;

            @include desktop {
                font-size: 2em;
                width: 90%;
            }

            @include desktopMedium {
                font-size: 2em;
                width: 80%;
            }

            @include big-desktop {
                font-size: 2.5em;
                width: 70%;
            }

            @include tablet-landscape {
                font-size: 1.5em;
                width: 100%;
            }

            @include phone-landscape {
                font-size: 2em;
                width: 100%;
            }

            @include small-phone-landscape {
                font-size: 2em;
                width: 100%;
            }

            @include tablet-portrait {
                font-size: 2.5em;
                width: 100%;
            }

            @include phone-portrait {
                font-size: 2em;
                width: 100%;
            }

            @include small-phone-portrait {
                font-size: 2em;
                width: 100%;
            }

        }

        p {
            font-family: $cr-font;
            font-style: normal;
            font-weight: 400;
            font-size: 1.5em;
            text-align: center;
            color: #000000;

            @include desktop {
                font-size: 1.2em;
            }

            @include desktopMedium {
                font-size: 1.5em;
            }


            @include tablet-landscape {
                font-size: 1.3em;
            }

            @include phone-landscape {
                font-size: 1.2em;
            }

            @include small-phone-landscape {
                font-size: 1.2em;
            }

            @include tablet-portrait {
                font-size: 1.2em;
            }

            @include phone-portrait {
                font-size: 1.2em;
            }

            @include small-phone-portrait {
                font-size: 1.2em;
            }
        }

        button {
            border: none;
            background-color: #ab1e43;
            padding: 10px 15px;
            border-radius: 10px;
            color: white;
            font-size: 1.2em;
            font-family: $cr-font;
            font-style: normal;

            letter-spacing: 0.08em;
            box-shadow: 0 0 5px #ab1e43;
            border: 1px solid white;
            font-weight: 600;
            margin: 1em;
            cursor: pointer;

        }

        button:hover {
            box-shadow: 0 0 10px #ab1e43;
            border: 2px solid white;
            background-color: #cc1344;
        }

        .heart {
            fill: #ab1e43;
            position: relative;
            top: 5px;
            width: 50px;
            animation: pulse 1s ease infinite;
            margin: 1em;

            @include tablet-landscape {
                width: 40px;
            }

            @include phone-landscape {
                width: 30px;
            }

            @include small-phone-landscape {
                width: 30px;
            }

            @include phone-portrait {
                width: 30px;
            }

            @include small-phone-portrait {
                width: 30px;
            }
        }


        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.3);
            }

            100% {
                transform: scale(1);
            }
        }


    }

    .home-container-right {
        width: 50%;
        margin: 2em;

        @include phone-landscape {
            width: 100%;
            margin: 5em 0em 0em 0em;
        }

        @include small-phone-landscape {
            width: 100%;
            margin: 5em 0em 0em 0em;
        }

        @include tablet-portrait {
            width: 100%;
            margin: 5em 0em 0em 0em;
        }

        @include phone-portrait {
            width: 100%;
            margin: 5em 0em 0em 0em;
        }

        @include small-phone-portrait {
            width: 100%;
            margin: 5em 0em 0em 0em;
        }

        .img {
            img {
                width: 30em;
                -webkit-animation: mover 1s infinite alternate;
                animation: mover 1s infinite alternate;

                @include phone-landscape {
                    width: 28em;
                    margin-top: 3em;
                }

                @include small-phone-landscape {
                    width: 25em;
                    margin-top: 3em;
                }

                @include tablet-portrait {
                    width: 35em;
                    margin-top: 3em;
                }

                @include phone-portrait {
                    width: 21em;
                    margin-top: 3em;
                }

                @include small-phone-portrait {
                    width: 18em;
                }
            }

            @-webkit-keyframes mover {
                0% {
                    transform: translateY(0);
                }

                100% {
                    transform: translateY(-25px);
                }
            }

            @keyframes mover {
                0% {
                    transform: translateY(0);
                }

                100% {
                    transform: translateY(-25px);
                }
            }


        }
    }


}

.home-container-1 {

    padding: 1em;

    h1 {
        font-size: 2.5em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        text-align: center;
        color: #ab1e43;
        padding: 2em 0em;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include desktop {
            // font-size: 1.2em;
        }

        @include desktopMedium {
            // font-size: 1.5em;
        }


        @include tablet-landscape {
            flex-direction: column;
        }

        @include phone-landscape {
            flex-direction: column;
        }

        @include small-phone-landscape {
            flex-direction: column;
        }

        @include tablet-portrait {
            flex-direction: column;
        }

        @include phone-portrait {
            flex-direction: column;
        }

        @include small-phone-portrait {
            flex-direction: column;
        }

        .left {
            width: 50%;

            @include tablet-landscape {
                width: 100%;
            }

            @include phone-landscape {
                width: 100%;
            }

            @include small-phone-landscape {
                width: 100%;
            }

            @include tablet-portrait {
                width: 100%;
            }

            @include phone-portrait {
                width: 100%;
            }

            @include small-phone-portrait {
                width: 100%;
            }

            .img {
                text-align: center;


                .verticalImg {
                    width: 42em;
                    -webkit-animation: verticalmover 1s infinite alternate;
                    animation: verticalmover 2s infinite alternate;


                    @include desktop {
                        width: 38em;
                    }

                    @include desktopMedium {
                        width: 42em;
                    }

                    @include tablet-landscape {
                        width: 35em;
                        margin-top: 3em;
                    }

                    @include phone-landscape {
                        width: 28em;
                        margin-top: 3em;
                    }

                    @include small-phone-landscape {
                        width: 25em;
                        margin-top: 3em;
                    }

                    @include tablet-portrait {
                        width: 35em;
                        margin-top: 3em;
                    }

                    @include phone-portrait {
                        width: 21em;
                        margin-top: 3em;
                    }

                    @include small-phone-portrait {
                        width: 18em;
                    }

                }

                .verticalImg2 {
                    width: 42em;
                    animation: zoom-in-zoom-out 10s ease-out infinite;

                    @include desktop {
                        width: 38em;
                    }

                    @include desktopMedium {
                        width: 42em;
                    }

                    @include tablet-landscape {
                        width: 35em;
                        margin-top: 3em;
                    }

                    @include phone-landscape {
                        width: 28em;
                        margin-top: 3em;
                    }

                    @include small-phone-landscape {
                        width: 25em;
                        margin-top: 3em;
                    }

                    @include tablet-portrait {
                        width: 35em;
                        margin-top: 3em;
                    }

                    @include phone-portrait {
                        width: 21em;
                        margin-top: 3em;
                    }

                    @include small-phone-portrait {
                        width: 18em;
                    }
                }

                @-webkit-keyframes verticalmover {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(-25px);
                    }
                }

                @keyframes verticalmover {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(-25px);
                    }
                }

                @keyframes zoom-in-zoom-out {
                    0% {
                        transform: scale(1, 1);
                    }

                    50% {
                        transform: scale(1.1, 1.1);
                    }

                    100% {
                        transform: scale(1, 1);
                    }
                }



            }


        }

        .right {
            padding: 0em 2em;
            width: 50%;

            @include tablet-landscape {
                width: 100%;
            }

            @include phone-landscape {
                width: 100%;
                padding: 0em 0.5em;
            }

            @include small-phone-landscape {
                width: 100%;
                padding: 0em 0.5em;
            }

            @include tablet-portrait {
                width: 100%;
            }

            @include phone-portrait {
                width: 100%;
                padding: 0em 0.5em;
            }

            @include small-phone-portrait {
                width: 100%;
                padding: 0em 0.5em;
            }

            .text {

                margin: 1em;

                @include tablet-landscape {
                    margin: 5em 1em 0em 1em;
                }

                @include phone-landscape {
                    margin: 5em 1em 0em 1em;
                }

                @include small-phone-landscape {
                    margin: 5em 1em 0em 1em;
                }

                @include tablet-portrait {
                    margin: 5em 1em 0em 1em;
                }

                @include phone-portrait {
                    margin: 5em 1em 0em 1em;
                }

                @include small-phone-portrait {
                    margin: 5em 1em 0em 1em;
                }

                p {
                    font-size: 1.2em;
                    font-family: $cr-font;
                    font-style: normal;
                    letter-spacing: 0.08em;
                    font-weight: 500;
                    text-align: justify;

                    @include desktop {
                        font-size: 1em;
                    }

                    @include desktopMedium {
                        font-size: 1.2em;
                    }

                    @include tablet-landscape {
                        font-size: 1em;
                    }

                    @include phone-landscape {
                        font-size: 1em;
                    }

                    @include small-phone-landscape {
                        font-size: 1em;
                    }

                    @include tablet-portrait {
                        font-size: 1em;
                    }

                    @include phone-portrait {
                        font-size: 1em;
                    }

                    @include small-phone-portrait {
                        font-size: 1em;
                    }
                }

                .list {
                    width: 100%;
                }
            }
        }

    }

}

.chip {
    font-size: 1em !important;
    background: #ab1e43;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.chip:hover {
    background: #790a28;
}



.home-container-2 {
    padding: 1em;

    .card {
        h1 {
            font-size: 2.5em;
            font-family: $cr-font;
            font-style: normal;
            letter-spacing: 0.08em;
            font-weight: bold;
            text-align: center;
            color: #ab1e43;
            padding: 2em 0em;

        }
    }


}

.home-container-teams {
    padding: 1em;
    border-radius: 10px;
    margin: 2em 0em;
    text-align: -webkit-center;


    .title {
        font-size: 2.5em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        text-align: center;
        color: #ab1e43;
    }

    .section-title {
        font-size: 2.5em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        text-align: center;
        color: #ab1e43;
        padding: 1em 0em;
    }

    .team-head {
        padding: 2em;
        width: 22em;
        margin: 1em;
        border-radius: 10px;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: linear-gradient(0deg, white, white, white);
        position: relative;

        @include desktop {
            width: 24em;
        }

        @include desktopMedium {
            width: 20em;
        }

        @include tablet-landscape {
            width: 19em;
        }

        @include phone-landscape {
            width: 90%;
        }

        @include small-phone-landscape {
            width: 90%;
        }

        @include tablet-portrait {
            width: 17em;
        }

        @include phone-portrait {
            width: 90%;
        }

        @include small-phone-portrait {
            width: 90%;
        }

        h1 {
            font-size: 1.5em;
            font-family: $cr-font;
            font-style: normal;
            letter-spacing: 0.08em;
        }

        p {
            text-align: center;
            font-family: $cr-font;
            font-style: normal;
            letter-spacing: 0.08em;
        }

    }

    .glowing::before {
        content: "";
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg,

                #ab1e43,
                #ffffff,
                #ab1e43);
        background-size: 400%;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        z-index: -1;
        border-radius: 10px;
        animation: glower 20s linear infinite;
    }

    @keyframes glower {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }


    .team-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        @include phone-landscape {
            justify-content: center;
        }

        @include small-phone-landscape {
            justify-content: center;
        }

        @include tablet-portrait {
            justify-content: center;
        }

        @include phone-portrait {
            justify-content: center;
        }

        @include small-phone-portrait {
            justify-content: center;
        }
    }
}


.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.home-container-faq {
    padding: 1em 15em;

    @include tablet-landscape {
        padding: 1em 5em;
    }

    @include phone-landscape {
        padding: 1em 0.5em;
    }

    @include small-phone-landscape {
        padding: 1em 0.5em;
    }

    @include tablet-portrait {
        padding: 1em 3em;
    }

    @include phone-portrait {
        padding: 1em 0.5em;
    }

    @include small-phone-portrait {
        padding: 1em 0.5em;
    }

    h1 {
        font-size: 2.5em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        text-align: center;
        color: #ab1e43;
        padding: 1em 0em;
    }
}

:host ::ng-deep {

    .p-timeline-event-content,
    .p-timeline-event-opposite {
        line-height: 1;
    }

    .p-timeline.p-timeline-vertical .p-timeline-event-opposite,
    .p-timeline.p-timeline-vertical .p-timeline-event-content {
        font-size: 0.85em;
        font-family: $cr-font;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.08em;
        margin-top: 0.5em;
        color: #ab1e43;
    }

    .ui-accordion-content-wrapper-overflown {
        overflow: hidden;
    }

    p-accordionTab {
        margin: 0.5em;
    }



    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
        color: #cc1344;
        font-size: 1em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
    }


    .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled) .p-accordion-header-link {
        color: #ab1e43;
        font-size: 1em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
    }

    .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
        box-shadow: none;
    }

    .p-accordion .p-accordion-content {
        font-size: 1em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
    }

}

@media screen and (max-width: 960px) {
    ::ng-deep {
        .customized-timeline {
            .p-timeline-event:nth-child(even) {
                flex-direction: row !important;

                .p-timeline-event-content {
                    text-align: left !important;
                }
            }

            .p-timeline-event-opposite {
                flex: 0;
            }

            .p-card {
                margin-top: 1rem;
            }
        }
    }
}