@import '../../../assets/scss/varibles.scss';
@import url('https://fonts.googleapis.com/css2?family=Dancing Script');

.results-container {
    margin: 1em;
    padding: 1em;
    text-align: -webkit-center;

    @include phone-landscape {
        padding: 0em;
    }

    @include small-phone-landscape {
        padding: 0em;
    }

    @include phone-portrait {
        padding: 0em;
    }

    @include small-phone-portrait {
        padding: 0em;
    }

    .results-box {


        .flex {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0em 2em;
            width: 85%;

            @include desktop {
                width: 90%;
            }

            @include desktopMedium {
                width: 85%;
            }

            @include tablet-landscape {
                width: 90%;
            }

            @include phone-landscape {
                width: 100%;
                margin: 2em 0em;
                flex-direction: column;
                justify-content: center;
            }

            @include small-phone-landscape {
                width: 100%;
                margin: 2em 0em;
                flex-direction: column;
                justify-content: center;
            }

            @include tablet-portrait {
                width: 90%;
            }

            @include phone-portrait {
                width: 100%;
                margin: 2em 0em;
                flex-direction: column;
                justify-content: center;
            }

            @include small-phone-portrait {
                width: 100%;
                margin: 2em 0em;
                flex-direction: column;
                justify-content: center;
            }

            .print-btn {
                text-align: end;

                @include phone-landscape {
                    text-align: center;
                }

                @include small-phone-landscape {
                    text-align: center;
                }

                @include phone-portrait {
                    text-align: center;
                }

                @include small-phone-portrait {
                    text-align: center;
                }

                button {
                    border: none;
                    background-color: #ab1e43;
                    padding: 5px 5px;
                    border-radius: 10px;
                    color: white;
                    font-size: 0.85em;
                    font-family: $cr-font;
                    font-style: normal;
                    letter-spacing: 0.08em;
                    box-shadow: 0 0 5px #ab1e43;
                    border: 1px solid white;
                    font-weight: 600;
                    width: 15em;
                    cursor: pointer;
                    margin: 0.5em;

                    @include phone-landscape {
                        width: 90%;
                    }

                    @include small-phone-landscape {
                        width: 90%;
                    }

                    @include phone-portrait {
                        width: 90%;
                    }

                    @include small-phone-portrait {
                        width: 90%;
                    }
                }

                button:hover {
                    box-shadow: 0 0 10px #ab1e43;
                    border: 2px solid white;
                    background-color: #cc1344;
                }
            }
        }

        .result {
            background-color: #fff;
            padding: 2em;
            margin: 2em;
            border-radius: 15px;
            width: 85%;
            box-shadow: 0 0 15px rgb(146, 140, 140);
            overflow: hidden;
            position: relative;

            @include desktop {
                width: 90%;
            }

            @include desktopMedium {
                width: 85%;
            }

            @include tablet-landscape {
                width: 90%;
            }

            @include phone-landscape {
                width: 100%;
                margin: 2em 0em;
                padding: 0.5em;
            }

            @include small-phone-landscape {
                width: 100%;
                margin: 2em 0em;
                padding: 0.5em;
            }

            @include tablet-portrait {
                width: 90%;
            }

            @include phone-portrait {
                width: 100%;
                margin: 2em 0em;
                padding: 0.5em;
            }

            @include small-phone-portrait {
                width: 100%;
                margin: 2em 0em;
                padding: 0.5em;
            }

            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                z-index: 1;

                @include tablet-landscape {
                    flex-direction: column;
                }

                @include phone-landscape {
                    flex-direction: column;
                }

                @include small-phone-landscape {
                    flex-direction: column;
                }

                @include tablet-portrait {
                    flex-direction: column;
                }

                @include phone-portrait {
                    flex-direction: column;
                }

                @include small-phone-portrait {
                    flex-direction: column;
                }

                .text {
                    width: 45%;
                    z-index: 1;

                    @include tablet-landscape {
                        width: 100%;
                    }

                    @include phone-landscape {
                        width: 100%;
                    }

                    @include small-phone-landscape {
                        width: 100%;
                    }

                    @include tablet-portrait {
                        width: 100%;
                    }

                    @include phone-portrait {
                        width: 100%;
                    }

                    @include small-phone-portrait {
                        width: 100%;
                    }

                    h1 {
                        font-size: 3em;
                        font-family: 'Dancing Script', sans-serif;
                        font-style: normal;
                        letter-spacing: 0.08em;
                        font-weight: bold;
                        color: #ab1e43;
                        z-index: 1;

                        @include phone-landscape {
                            font-size: 2em;
                        }

                        @include small-phone-landscape {
                            font-size: 2em;
                        }

                        @include phone-portrait {
                            font-size: 2em;
                        }

                        @include small-phone-portrait {
                            font-size: 2em;
                        }

                    }

                }

                .right {
                    text-align: right;

                    @include tablet-landscape {
                        text-align: center;
                    }

                    @include phone-landscape {
                        text-align: center;
                    }

                    @include small-phone-landscape {
                        text-align: center;
                    }

                    @include tablet-portrait {
                        text-align: center;
                    }

                    @include phone-portrait {
                        text-align: center;
                    }

                    @include small-phone-portrait {
                        text-align: center;
                    }

                }

                .left {
                    text-align: left;

                    @include tablet-landscape {
                        text-align: center;
                    }

                    @include phone-landscape {
                        text-align: center;
                    }

                    @include small-phone-landscape {
                        text-align: center;
                    }

                    @include tablet-portrait {
                        text-align: center;
                    }

                    @include phone-portrait {
                        text-align: center;
                    }

                    @include small-phone-portrait {
                        text-align: center;
                    }
                }

                .svg {
                    margin-top: 2em;

                    .heart {
                        fill: #ab1e43;
                        width: 60px;
                        animation: pulse 1s ease infinite;
                        z-index: 1;

                        @include tablet-landscape {
                            width: 45px;
                        }

                        @include phone-landscape {
                            width: 45px;
                        }

                        @include small-phone-landscape {
                            width: 45px;
                        }

                        @include tablet-portrait {
                            width: 45px;
                        }

                        @include phone-portrait {
                            width: 45px;
                        }

                        @include small-phone-portrait {
                            width: 45px;
                        }

                    }


                    @keyframes pulse {
                        0% {
                            transform: scale(1);
                        }

                        50% {
                            transform: scale(1.3);
                        }

                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }

            .box {
                background-color: rgb(255, 250, 250);
                padding: 8em 2em;
                width: 50%;
                z-index: 1;

                @include tablet-landscape {
                    width: 100%;
                }

                @include phone-landscape {
                    width: 100%;
                }

                @include small-phone-landscape {
                    width: 100%;
                }

                @include tablet-portrait {
                    width: 100%;
                }

                @include phone-portrait {
                    width: 100%;
                }

                @include small-phone-portrait {
                    width: 100%;
                }

                .results-scores-title {
                    font-size: 4em;
                    font-family: 'Dancing Script', sans-serif;
                    font-style: normal;
                    letter-spacing: 0.08em;
                    font-weight: bold;
                    color: #ab1e43;

                    @include phone-landscape {
                        font-size: 2.5em;
                    }

                    @include small-phone-landscape {
                        font-size: 2.5em;
                    }

                    @include phone-portrait {
                        font-size: 2.5em;
                    }

                    @include small-phone-portrait {
                        font-size: 2.5em;
                    }
                }

                .result-scores {


                    h1 {
                        font-size: 4em;
                        font-family: 'Dancing Script', sans-serif;
                        font-style: normal;
                        letter-spacing: 0.08em;
                        font-weight: bold;
                        color: #ab1e43;

                        @include phone-landscape {
                            font-size: 2.5em;
                        }

                        @include small-phone-landscape {
                            font-size: 2.5em;
                        }

                        @include phone-portrait {
                            font-size: 2.5em;
                        }

                        @include small-phone-portrait {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }
    }
}

.message {
    width: 50%;
    background-color: #ab1e43;
    padding: 1em;
    z-index: 1;

    @include tablet-landscape {
        width: 100%;
    }

    @include phone-landscape {
        width: 100%;
    }

    @include small-phone-landscape {
        width: 100%;
    }

    @include tablet-portrait {
        width: 100%;
    }

    @include phone-portrait {
        width: 100%;
    }

    @include small-phone-portrait {
        width: 100%;
    }

    p {
        font-family: 'Dancing Script', sans-serif;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        color: #fff;
        font-size: 2em;
        margin: 2em;
        // padding-top: 3em;

        @include phone-landscape {
            margin: 1em;
            font-size: 1.5em;
            //   padding-top: 1em;
        }

        @include small-phone-landscape {
            margin: 1em;
            font-size: 1.5em;
            //   padding-top: 1em;
        }

        @include phone-portrait {
            margin: 1em;
            font-size: 1.5em;
            //  padding-top: 1em;
        }

        @include small-phone-portrait {
            margin: 1em;
            font-size: 1.5em;
            //   padding-top: 1em;
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;

    .left {
        img {
            width: 15em;
        }
    }

    .right {
        margin-top: 1.5em;
        font-size: 0.85em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        text-align: center;
        color: #ab1e43;

    }
}


.font {
    margin-top: 1.5em;
    font-size: 0.85em;
    font-family: $cr-font;
    font-style: normal;
    letter-spacing: 0.08em;
    font-weight: bold;
    text-align: center;
    color: #ab1e43;

}

.demo-bg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}


.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0 10px #c4c2c3;
    margin: 4em;

    @include desktop {
        margin: 4em 1em;
    }

    @include desktopMedium {
        margin: 4em 4em;
    }

    @include tablet-landscape {
        margin: 3em 1em;
        flex-direction: column;
    }

    @include phone-landscape {
        margin: 2em 0em;
        flex-direction: column;
    }

    @include small-phone-landscape {
        margin: 2em 0em;
        flex-direction: column;
    }

    @include tablet-portrait {
        margin: 3em 1em;
        flex-direction: column;
    }

    @include phone-portrait {
        margin: 2em 0em;
        flex-direction: column;
    }

    @include small-phone-portrait {
        margin: 2em 0em;
        flex-direction: column;
    }
}

.flex-box2 {
    display: flex;
    justify-content: center;
    margin: 4em;
}


.result-img {
    text-align: -webkit-center;

    .box {
        .result {
            background-color: #fff;
            padding: 2em;
            margin: 2em;
            border-radius: 15px;
            width: 85%;
            text-align: -webkit-center;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .text {
                    width: 45%;

                    h1 {
                        font-size: 3em;
                        font-family: 'Dancing Script', sans-serif;
                        font-style: normal;
                        letter-spacing: 0.08em;
                        font-weight: bold;
                        color: #ab1e43;
                    }

                }

                .right {
                    text-align: right;
                }

                .left {
                    text-align: left;
                }

                .svg {
                    margin-top: 2em;

                    .heart {
                        fill: #ab1e43;
                        width: 60px;
                    }

                }
            }

            .box {
                background-color: rgb(255, 250, 250);
                padding: 8em 2em;
                width: 50%;
                z-index: 1;

                .results-scores-title {
                    font-size: 5em;
                    font-family: 'Dancing Script', sans-serif;
                    font-style: normal;
                    letter-spacing: 0.08em;
                    font-weight: bold;
                    color: #ab1e43;
                }

                .result-scores {


                    h1 {
                        font-size: 5em;
                        font-family: 'Dancing Script', sans-serif;
                        font-style: normal;
                        letter-spacing: 0.08em;
                        font-weight: bold;
                        color: #ab1e43;
                    }
                }
            }
        }
    }

}