@import '../../../assets/scss/varibles.scss';
@import url('https://fonts.googleapis.com/css2?family=Dancing Script');

.results-container {
    margin: 1em;
    padding: 1em;
    text-align: -webkit-center;

    .results-box {


        .flex {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0em 2em;
            width: 85%;

            .print-btn {
                text-align: end;


                button {
                    border: none;
                    background-color: #ab1e43;
                    padding: 5px 5px;
                    border-radius: 10px;
                    color: white;
                    font-size: 0.85em;
                    font-family: $cr-font;
                    font-style: normal;
                    letter-spacing: 0.08em;
                    box-shadow: 0 0 5px #ab1e43;
                    border: 1px solid white;
                    font-weight: 600;
                    width: 15em;
                    cursor: pointer;
                    margin: 0.5em;
                }

                button:hover {
                    box-shadow: 0 0 10px #ab1e43;
                    border: 2px solid white;
                    background-color: #cc1344;
                }
            }
        }

        .result {
            background-color: #fff;
            padding: 2em;
            margin: 2em;
            border-radius: 15px;
            width: 85%;
            box-shadow: 0 0 15px rgb(146, 140, 140);
            overflow: hidden;
            position: relative;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                z-index: 1;

                .text {
                    width: 45%;
                    z-index: 1;

                    h1 {
                        font-size: 3em;
                        font-family: 'Dancing Script', sans-serif;
                        font-style: normal;
                        letter-spacing: 0.08em;
                        font-weight: bold;
                        color: #ab1e43;
                        z-index: 1;
                    }

                }

                .right {
                    text-align: right;
                }

                .left {
                    text-align: left;
                }

                .svg {
                    margin-top: 2em;

                    .heart {
                        fill: #ab1e43;
                        width: 60px;
                        animation: pulse 1s ease infinite;
                        z-index: 1;
                    }


                    @keyframes pulse {
                        0% {
                            transform: scale(1);
                        }

                        50% {
                            transform: scale(1.3);
                        }

                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }

            .box {
                background-color: rgb(255, 250, 250);
                padding: 8em 2em;
                width: 50%;
                z-index: 1;

                .results-scores-title {
                    font-size: 4em;
                    font-family: 'Dancing Script', sans-serif;
                    font-style: normal;
                    letter-spacing: 0.08em;
                    font-weight: bold;
                    color: #ab1e43;
                }

                .result-scores {


                    h1 {
                        font-size: 4em;
                        font-family: 'Dancing Script', sans-serif;
                        font-style: normal;
                        letter-spacing: 0.08em;
                        font-weight: bold;
                        color: #ab1e43;
                    }
                }
            }
        }
    }
}

.message {
    width: 50%;
    background-color: #ab1e43;
    padding: 1em;
    z-index: 1;

    p {
        font-family: 'Dancing Script', sans-serif;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        color: #fff;
        font-size: 1.5em;
        margin: 2em;
    }
}

.demo-bg {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}


.flex-box {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px #c4c2c3;
    margin: 4em;
}

.flex-box2 {
    display: flex;
    justify-content: center;
    margin: 4em;
}


.result-img {
    text-align: -webkit-center;

    .box {
        .result {
            background-color: #fff;
            padding: 2em;
            margin: 2em;
            border-radius: 15px;
            width: 85%;
            text-align: -webkit-center;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .text {
                    width: 45%;

                    h1 {
                        font-size: 3em;
                        font-family: 'Dancing Script', sans-serif;
                        font-style: normal;
                        letter-spacing: 0.08em;
                        font-weight: bold;
                        color: #ab1e43;
                    }

                }

                .right {
                    text-align: right;
                }

                .left {
                    text-align: left;
                }

                .svg {
                    margin-top: 2em;

                    .heart {
                        fill: #ab1e43;
                        width: 60px;
                    }

                }
            }

            .box {
                background-color: rgb(255, 250, 250);
                padding: 8em 2em;
                width: 50%;
                z-index: 1;

                .results-scores-title {
                    font-size: 5em;
                    font-family: 'Dancing Script', sans-serif;
                    font-style: normal;
                    letter-spacing: 0.08em;
                    font-weight: bold;
                    color: #ab1e43;
                }

                .result-scores {


                    h1 {
                        font-size: 5em;
                        font-family: 'Dancing Script', sans-serif;
                        font-style: normal;
                        letter-spacing: 0.08em;
                        font-weight: bold;
                        color: #ab1e43;
                    }
                }
            }
        }
    }

}