<div class="profile-container">
    <div class="user-profile">
        <div class="flex-box">
            <div class="title">
                <h1>Profile</h1>
            </div>
            <div class="edit-profile-btn">
                <div class="cell">
                    <button>Edit Profile</button>
                </div>

            </div>
        </div>
        <div class="profile-details">
            <div class="profile-form">
                <div class="form-box">
                    <div class="input-container">
                        <label for="fullname">Full Name*</label>
                        <input type="text" name="fullname">
                    </div>
                </div>
                <div class="form-box">
                    <div class="input-container">
                        <label for="mobile">Mobile*</label>
                        <input type="text" name="mobile">
                    </div>
                </div>
                <div class="form-box">
                    <div class="input-container">
                        <label for="email">Email*</label>
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="form-box">
                    <div class="input-container">
                        <div class="verify-email">
                            <button>Send OTP</button>
                        </div>
                    </div>
                </div>
                <div class="form-box">
                    <div class="input-container">
                        <label for="otp">OTP*</label>
                        <input type="text" name="otp">
                    </div>
                </div>
                <div class="form-box">
                    <div class="input-container">
                        <div class="verify-email">
                            <button>Verify OTP</button>
                        </div>
                    </div>
                </div>
                <div class="form-box">
                    <div class="input-container">
                        <label for="password">Password*</label>
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="form-box">
                    <div class="input-container">
                        <label for="repassword">Re Password*</label>
                        <input type="password" name="repassword">
                    </div>
                </div>
                <div class="bottom-box">
                    <div class="update-btn">
                        <button>UPDATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>