@import '../../../assets/scss/varibles.scss';

.nav {

    width: 100%;
    position: relative;
    // background-color: white;
    border-radius: 10px;
    padding: 0.5em;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: $cr-font20;
    color: $cr-font-black;
    font-family: $cr-font;
    padding: 1em 0em 0em 0.5em;

    img {
        width: 11em;
    }
}

.nav>.nav-btn {
    display: none;
}

.nav-btn {

    padding: 0.5em 1em !important;
    margin: 0em 1em;
    border: 1px solid white;
    background-color: #ab1e43;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    font-family: $cr-font;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.08em;
    cursor: pointer;
    font-weight: 600;
    margin: 1em;
    box-shadow: 0 0 5px #ab1e43;
}

.nav-btn:hover {
    box-shadow: 0 0 10px #ab1e43;
    border: 2px solid white;
    background-color: #cc1344;
}

.nav>.nav-links {
    display: inline;
    float: right;
    margin-top: 0.3em;
}

.nav>.nav-links>a.link {
    display: inline-block;
    margin: 1em;
    padding: 5px;
    font-size: 1.25em;
    text-decoration: none;
    font-weight: 400;
    color: $cr-font-black;
    font-family: $cr-font;
}

.nav>.nav-links>a.link:hover {
    border-bottom: 2px solid #ab1e43;
    color: #ab1e43;
    font-weight: bold;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        margin-top: 3em;
        z-index: 1;
    }
}