@import '../../../assets/scss/varibles.scss';

.dashboard-component {
    margin: 1em;
    padding: 1em;
    text-align: -webkit-center;
    min-height: 80vh;

    @include phone-landscape {
        margin: 0.2em;
    }

    @include small-phone-landscape {
        margin: 0.2em;
    }

    @include phone-portrait {
        margin: 0.2em;
    }

    @include small-phone-portrait {
        margin: 0.2em;
    }

    .welcom-title {
        h1 {
            font-size: 2.5em;
            font-family: $cr-font;
            font-style: normal;
            letter-spacing: 0.08em;
            font-weight: bold;
            text-align: center;
            color: #ab1e43;

            @include phone-landscape {
                font-size: 1.5em;
            }

            @include small-phone-landscape {
                font-size: 1.5em;
            }

            @include phone-portrait {
                font-size: 1.5em;
            }

            @include small-phone-portrait {
                font-size: 1.5em;
            }
        }


    }

    .dashboard-table {
        background-color: #fff;
        padding: 1em;
        border-radius: 15px;
        width: 85%;
        box-shadow: 0 0 15px rgb(146, 140, 140);

        @include tablet-landscape {
            width: 100%;
        }

        @include phone-landscape {
            width: 100%;
        }

        @include small-phone-landscape {
            width: 100%;
        }

        @include tablet-portrait {
            width: 100%;
        }

        @include phone-portrait {
            width: 100%;
        }

        @include small-phone-portrait {
            width: 100%;
        }

        .table-top-feature {
            .table-title {
                text-align: left;
                margin: 0.5em 0em;

                h1 {
                    font-size: 1.5em;
                    font-family: $cr-font;
                    font-style: normal;
                    letter-spacing: 0.08em;
                    font-weight: bold;
                    color: #ab1e43;
                }
            }

            .flex-box {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @include tablet-landscape {
                    flex-direction: column;
                }

                @include phone-landscape {
                    flex-direction: column;
                }

                @include small-phone-landscape {
                    flex-direction: column;
                }

                @include tablet-portrait {
                    flex-direction: column;
                }

                @include phone-portrait {
                    flex-direction: column;
                }

                @include small-phone-portrait {
                    flex-direction: column;
                }

                .left {
                    display: table;

                    .add-sample-btn {
                        display: table-cell;
                        vertical-align: middle;

                        @include tablet-landscape {
                            text-align: left;
                        }

                        @include tablet-portrait {
                            text-align: left;
                        }

                        button {
                            border: none;
                            background-color: #ab1e43;
                            padding: 5px 5px;
                            border-radius: 10px;
                            color: white;
                            font-size: 0.85em;
                            font-family: $cr-font;
                            font-style: normal;
                            letter-spacing: 0.08em;
                            box-shadow: 0 0 5px #ab1e43;
                            border: 1px solid white;
                            font-weight: 600;
                            width: 15em;
                            cursor: pointer;

                            @include phone-landscape {
                                width: 90%;
                            }

                            @include small-phone-landscape {
                                width: 90%;
                            }

                            @include phone-portrait {
                                width: 90%;
                            }

                            @include small-phone-portrait {
                                width: 90%;
                            }
                        }

                        button:hover {
                            box-shadow: 0 0 10px #ab1e43;
                            border: 2px solid white;
                            background-color: #cc1344;
                        }
                    }

                }

                .right {
                    display: flex;
                    flex-direction: row;
                    margin: 1em 0em;

                    @include tablet-landscape {
                        justify-content: end;
                    }

                    @include phone-landscape {
                        justify-content: end;
                        flex-direction: column-reverse;
                    }

                    @include small-phone-landscape {
                        justify-content: end;
                        flex-direction: column-reverse;
                    }

                    @include tablet-portrait {
                        justify-content: end;

                    }

                    @include phone-portrait {
                        justify-content: end;
                        flex-direction: column-reverse;
                    }

                    @include small-phone-portrait {
                        justify-content: end;
                        flex-direction: column-reverse;
                    }

                    .search-filter {
                        input {
                            font-family: $cr-font;
                            font-style: normal;
                            letter-spacing: 0.08em;
                            padding: 0.5em;
                            font-size: 0.75em;
                            background-color: #fff;
                            border-radius: 5px;
                            border: none;
                            margin: 0em 1em;
                            width: 18em;
                            box-shadow: 0 0 10px rgb(146, 140, 140);

                            @include phone-landscape {
                                width: 90%;
                                margin-top: 1em;
                            }

                            @include small-phone-landscape {
                                width: 90%;
                                margin-top: 1em;
                            }

                            @include phone-portrait {
                                width: 90%;
                                margin-top: 1em;
                            }

                            @include small-phone-portrait {
                                width: 90%;
                                margin-top: 1em;
                            }
                        }

                        input:focus-visible {
                            outline: none;
                            box-shadow: 0 0 5px #ab1e43;
                        }
                    }

                    .add-partner-btn {
                        button {
                            border: none;
                            background-color: #ab1e43;
                            padding: 5px 5px;
                            border-radius: 10px;
                            color: white;
                            font-size: 0.85em;
                            font-family: $cr-font;
                            font-style: normal;
                            letter-spacing: 0.08em;
                            box-shadow: 0 0 5px #ab1e43;
                            border: 1px solid white;
                            font-weight: 600;
                            width: 15em;
                            cursor: pointer;

                            @include phone-landscape {
                                width: 90%;
                            }

                            @include small-phone-landscape {
                                width: 90%;
                            }

                            @include phone-portrait {
                                width: 90%;
                            }

                            @include small-phone-portrait {
                                width: 90%;
                            }
                        }

                        button:hover {
                            box-shadow: 0 0 10px #ab1e43;
                            border: 2px solid white;
                            background-color: #cc1344;
                        }
                    }
                }
            }
        }
    }
}

.flex-box {
    .status-btn {
        margin: 0.5em;

        button {
            border: none;
            background-color: #ab1e43;
            padding: 5px 5px;
            border-radius: 10px;
            color: white;
            font-size: 0.85em;
            font-family: $cr-font;
            font-style: normal;
            letter-spacing: 0.08em;
            box-shadow: 0 0 5px #ab1e43;
            border: 1px solid white;
            font-weight: 600;
            width: 15em;
            cursor: pointer;
        }

        button:hover {
            box-shadow: 0 0 10px #ab1e43;
            border: 2px solid white;
            background-color: #cc1344;
        }
    }

    .delete-btn {
        margin: 0.5em;

        button {
            border: none;
            background-color: #fff;
            padding: 5px 5px;
            border-radius: 10px;
            color: #ab1e43;
            font-size: 0.85em;
            font-family: $cr-font;
            font-style: normal;
            letter-spacing: 0.08em;

            font-weight: 600;
            width: 15em;
            cursor: pointer;
        }

        button:hover {

            color: #fff;
            background-color: #cc1344;
        }
    }
}

:host ::ng-deep {
    .p-datatable .p-datatable-thead>tr>th {
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
    }

    .p-datatable .p-datatable-tbody>tr>td {
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        color: #fff;
        background: #ab1e43;
        border: #cc1344;
    }

    .p-link:focus {
        box-shadow: none;
    }

    .p-dropdown:not(.p-disabled):hover {
        border-color: #ab1e43;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: none;
        border-color: #ab1e43;
    }

    :focus-visible {
        outline: none;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
        color: #fff;
        background: #ab1e43;
    }
}

.help-support {
    margin: 1em;

    @include phone-landscape {
        margin: 0em;
    }

    @include small-phone-landscape {
        margin: 0em;
    }

    @include phone-portrait {
        margin: 0em;
    }

    @include small-phone-portrait {
        margin: 0em;
    }

    .form-help {
        display: flex;
        flex-direction: column;
        text-align: center;

        .input-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 2em 1em;

            label {
                text-align: left;
                font-family: $cr-font;
                font-style: normal;
                letter-spacing: 0.08em;
                font-weight: 600;
                margin: 5px 0px;
                color: #ab1e43;
            }

            input {
                font-family: $cr-font;
                font-style: normal;
                letter-spacing: 0.08em;
                padding: 0.5em;
                font-size: 1em;
                background-color: #fff;
                border-radius: 5px;
                border: none;
                box-shadow: 0 0 10px rgb(146, 140, 140);

                @include phone-landscape {
                    width: 90%;
                }

                @include small-phone-landscape {
                    width: 90%;
                }

                @include phone-portrait {
                    width: 90%;
                }

                @include small-phone-portrait {
                    width: 90%;
                }
            }

            input:focus-visible {
                outline: none;
                box-shadow: 0 0 5px #ab1e43;
            }

            textarea {
                resize: none;
                height: 10em;
                font-family: $cr-font;
                font-style: normal;
                letter-spacing: 0.08em;
                padding: 0.5em;
                font-size: 1em;
                background-color: #fff;
                border-radius: 5px;
                border: none;
                box-shadow: 0 0 10px rgb(146, 140, 140);
            }

            textarea:focus-visible {
                outline: none;
                box-shadow: 0 0 5px #ab1e43;
            }
        }
    }
}


.btn {
    border: none;
    background-color: #ab1e43;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    font-size: 0.85em;
    font-family: $cr-font;
    font-style: normal;
    letter-spacing: 0.08em;
    box-shadow: 0 0 5px #ab1e43;
    border: 1px solid white;
    font-weight: 600;
    margin: 1em;
    width: 17em;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 10px #ab1e43;
    border: 2px solid white;
    background-color: #cc1344;
}

.cancel {
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    color: black;
    font-size: 0.85em;
    font-family: $cr-font;
    font-style: normal;
    letter-spacing: 0.08em;
    font-weight: 600;
    margin: 1em 2em;
    width: 17em;
    cursor: pointer;
}

.error-box {
    text-align: left;
    margin: 10px 5px;
    font-size: 0.75em;
    font-family: $cr-font;
    font-style: normal;
    letter-spacing: 0.08em;
    font-weight: 600;
    color: red;
}


:host ::ng-deep {
    .p-button {
        margin: 0 .5rem 0 0;
        min-width: 10rem;
    }

    .p-dialog .p-dialog-header .p-dialog-title {
        font-size: 1.3em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        text-align: center;
        color: #ab1e43;
    }

    .p-dialog .p-dialog-content {

        @include phone-landscape {
            padding: 0em;
        }

        @include small-phone-landscape {
            padding: 0em;
        }

        @include phone-portrait {
            padding: 0em;
        }

        @include small-phone-portrait {
            padding: 0em;
        }
    }

    .p-dialog .p-dialog-header .p-dialog-title {
        @include phone-landscape {
            font-size: 1em;
        }

        @include small-phone-landscape {
            font-size: 1em;
        }

        @include phone-portrait {
            font-size: 1em;
        }

        @include small-phone-portrait {
            font-size: 1em;
        }
    }
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}

.question-form {
    margin: 3em 2em;

    @include phone-landscape {
        margin: 1em 0.5em;
    }

    @include small-phone-landscape {
        margin: 1em 0.5em;
    }

    @include phone-portrait {
        margin: 1em 0.5em;
    }

    @include small-phone-portrait {
        margin: 1em 0.5em;
    }

    .question {
        text-align: left;
        display: flex;
        flex-direction: column;

        label {
            font-size: 1em;
            font-family: $cr-font;
            font-style: normal;
            letter-spacing: 0.08em;
            font-weight: bold;
            color: #ab1e43;
            margin: 0px;

            @include phone-landscape {
                font-size: 0.75em;
            }

            @include small-phone-landscape {
                font-size: 0.75em;
            }

            @include phone-portrait {
                font-size: 0.75em;
            }

            @include small-phone-portrait {
                font-size: 0.75em;
            }

            span {
                margin: 0px 5px;
            }
        }

        .btns {
            margin: 1em;

            @include phone-landscape {
                margin: 1em 0.5em;
            }

            @include small-phone-landscape {
                margin: 1em 0.5em;
            }

            @include phone-portrait {
                margin: 1em 0.5em;
            }

            @include small-phone-portrait {
                margin: 1em 0.5em;
            }

            label {
                margin: -5px 10px;
                color: #000000;
            }
        }
    }
}