<div class="footer-container">
    <div class="footer-center">
        <div class="table">
            <div class="logo"> <img src="../../../assets/images/logo-2.png" alt="Ek Sambandh"></div>
        </div>
    </div>
    <div class="left-items">

        <div class="footer-left">
            <div class="left-flex">
                <div class="link left" (click)="showHelpModal()"><a>Help & Support</a></div>
            </div>
            <div class="left-flex">
                <div class="link right"><a href="../../../assets/pdf/TERMS-AND-CONDITIONS-Eksamabandh.pdf"
                        target="_blank">Terms &
                        Conditions</a></div>
            </div>
            <div class="left-flex ">
                <div class="link left"><a href="../../../assets/pdf/PRIVACY-POLICY-eksambandh.pdf"
                        target="_blank">Privacy
                        Policy</a></div>
            </div>
            <div class="left-flex ">
                <div class="link right" (click)="disclaimerModal = true"><a>Disclaimer</a></div>
            </div>
        </div>
    </div>

    <!--  <div class="footer-right" >
        <a><i class="pi pi-facebook"></i></a>
        <a><i class="pi pi-instagram"></i></a>
        <a><i class="pi pi-twitter"></i></a>
    </div> -->
</div>


<p-dialog header="Help & Support" [(visible)]="helpModal" [breakpoints]="{'960px': '95vw'}" [style]="{width: '50vw'}"
    [baseZIndex]="10000">
    <div class="help-support">
        <div class="form-help" [formGroup]="helpSupport">
            <div class="input-container">
                <label for="fullname">Full Name*</label>
                <input type="text" name="fullname" formControlName="fullname" [readOnly]="isUser">
                <span class="error-box"
                    *ngIf="submit && this.helpSupport.controls['fullname'].hasError('required')">Please enter
                    your full name</span>
            </div>
            <div class="input-container">
                <label for="email">Email*</label>
                <input type="email" name="email" formControlName="email" [readOnly]="isUser">
                <span class="error-box" *ngIf="submit && this.helpSupport.controls['email'].hasError('required')">Please
                    enter
                    email</span>
                <span class="error-box" *ngIf="submit && this.helpSupport.controls['email'].hasError('pattern')">Please
                    enter
                    valid
                    email</span>
            </div>
            <div class="input-container">
                <label for="contact">Contact*</label>
                <input type="text" name="contact" formControlName="contact" [readOnly]="isUser">
                <span class="error-box"
                    *ngIf="submit && this.helpSupport.controls['contact'].hasError('required')">Please enter
                    your contact number</span>
            </div>
            <div class="input-container">
                <label for="reason">Specify Reason*</label>
                <textarea type="text" name="reason" formControlName="reason"></textarea>
                <span class="error-box"
                    *ngIf="submit && this.helpSupport.controls['reason'].hasError('required')">Please enter
                    your reason</span>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer" class="footer-modal">
        <button (click)="helpModal=false" class="cancel">Cancel</button>
        <button (click)="send()" class="btn">Send</button>
    </ng-template>
</p-dialog>


<p-dialog header="Disclaimer" [(visible)]="disclaimerModal" [breakpoints]="{'960px': '95vw'}" [style]="{width: '50vw'}"
    [baseZIndex]="10000">
    <div class="help-support">
        <p>The information contained in this website is for general information purposes only. The information is
            provided by Ek Sambandh and while we endeavor to keep the information up to date and correct, we make no
            representations or warranties of any kind, express or implied, about the completeness, accuracy,
            reliability, suitability or availability with respect to the website or the information, products, or
            related graphics contained on the website for any purpose. Any reliance you place on such information is
            therefore strictly at your own risk.</p>
        <br><br>
        <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential
            loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in
            connection with, the use of this website.</p>
        <br><br>
        <p>Through this website you are able to link to other websites which are not under the control of Ek sambandh.We
            have no control over the nature, content and availability of those sites. The inclusion of any links does
            not necessarily imply a recommendation or endorse the views expressed within them.</p>
        <br><br>
        <p>Every effort is made to keep the website up and running smoothly. However, M/S Ek Sambandh takes no
            responsibility for, and will not be liable for, the website being temporarily unavailable due to technical
            issues beyond our control.</p>
        <br><br>
        <p> M/S Ek sambandh –</p><br>
        <p> Address: S.C.F- 50, JP Complex, old Cinema Road, Khanna, 141401, Dist- Ludhiana</p><br>
        <p>Email: contact@eksambandh.in</p><br>
        <p>Website: www.Eksambandh.in</p>
    </div>
    <ng-template pTemplate="footer" class="footer-modal">
        <button (click)="disclaimerModal=false" class="cancel">Close</button>
    </ng-template>
</p-dialog>