@import '../../../assets/scss/varibles.scss';
@import "~primeicons/primeicons.css";

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    margin: 1em 0em;
    border-top: 1px solid #ab1e43;


    @include phone-landscape {
        flex-direction: column-reverse;
    }

    @include small-phone-landscape {
        flex-direction: column-reverse;
    }

    @include phone-portrait {
        flex-direction: column-reverse;
    }

    @include small-phone-portrait {
        flex-direction: column-reverse;
    }

    .left-items {
        display: flex;
        flex-direction: row;

        .footer-left {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            margin: 0.9em 1em 0em 1rem;

            @include phone-landscape {
                margin: 0em;
                width: 100%;
            }

            @include small-phone-landscape {
                margin: 0em;
                width: 100%;
            }

            @include phone-portrait {
                margin: 0em;
                width: 100%;
            }

            @include small-phone-portrait {
                margin: 0em;
                width: 100%;
            }

            .left-flex {
                @include phone-landscape {

                    width: 50%;


                }

                @include small-phone-landscape {

                    width: 50%;

                }

                @include phone-portrait {

                    width: 50%;

                }

                @include small-phone-portrait {

                    width: 50%;
                }

                .left {
                    @include phone-landscape {
                        text-align: left;
                    }

                    @include small-phone-landscape {
                        text-align: left;
                    }

                    @include phone-portrait {
                        text-align: left;
                    }

                    @include small-phone-portrait {
                        text-align: left;
                    }
                }

                .right {
                    @include phone-landscape {
                        text-align: right;
                    }

                    @include small-phone-landscape {
                        text-align: right;
                    }

                    @include phone-portrait {
                        text-align: right;
                    }

                    @include small-phone-portrait {
                        text-align: right;
                    }
                }

                .link {

                    font-size: $cr-font14;
                    font-family: $cr-font;
                    color: #ab1e43;
                    font-weight: bold;
                    margin: 0 1em;
                    cursor: pointer;
                    padding: 0em 1em;


                    @include phone-landscape {
                        width: 100%;
                        padding: 0.4em 0em;
                        margin: 0em;
                    }

                    @include small-phone-landscape {

                        width: 100%;
                        padding: 0.4em 0em;
                        margin: 0em;
                    }

                    @include phone-portrait {

                        width: 100%;
                        padding: 0.4em 0em;
                        margin: 0em;
                    }

                    @include small-phone-portrait {

                        width: 100%;
                        padding: 0.4em 0em;
                        margin: 0em;
                    }

                    a {
                        text-decoration: none;
                        color: #ab1e43;
                    }

                }

                .link:hover {
                    padding-bottom: 2px;
                    border-bottom: 2px solid #cc1344;
                    color: #cc1344;
                }
            }

        }
    }

    .footer-center {
        display: flex;
        flex-direction: row;

        @include phone-landscape {
            flex-direction: column;
            padding-top: 1em;
        }

        @include small-phone-landscape {
            flex-direction: column;
            padding-top: 1em;
        }

        @include phone-portrait {
            flex-direction: column;
            padding-top: 1em;
        }

        @include small-phone-portrait {
            flex-direction: column;
            padding-top: 1em;
        }

        .table {
            display: table;
            margin: 0em 0.5em;

            .logo {
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;

                @include phone-landscape {
                    text-align: center;
                }

                @include small-phone-landscape {
                    text-align: center;
                }

                @include phone-portrait {
                    text-align: center;
                }

                @include small-phone-portrait {
                    text-align: center;
                }

                img {
                    width: 12em;
                }
            }

            .text {
                display: table-cell;
                vertical-align: middle;

                h1 {
                    font-size: $cr-font18;
                    font-family: $cr-font;
                    color: #ab1e43;
                    font-weight: bold;

                    @include phone-landscape {
                        text-align: center;
                    }

                    @include small-phone-landscape {
                        text-align: center;
                    }

                    @include phone-portrait {
                        text-align: center;
                    }

                    @include small-phone-portrait {
                        text-align: center;
                    }
                }
            }
        }

    }

    .footer-right {
        .pi {
            color: #ab1e43;
            font-size: 1.5em;
            padding: 0.6em;
            cursor: pointer;
        }

        .pi:hover {
            color: #cc1344;
        }
    }
}

.help-support {
    margin: 1em;

    @include phone-landscape {
        margin: 0em;
    }

    @include small-phone-landscape {
        margin: 0em;
    }

    @include phone-portrait {
        margin: 0em;
    }

    @include small-phone-portrait {
        margin: 0em;
    }

    .form-help {
        display: flex;
        flex-direction: column;
        text-align: center;

        .input-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 2em 1em;

            label {
                text-align: left;
                font-family: $cr-font;
                font-style: normal;
                letter-spacing: 0.08em;
                font-weight: 600;
                margin: 5px 0px;
                color: #ab1e43;
            }

            input {
                font-family: $cr-font;
                font-style: normal;
                letter-spacing: 0.08em;
                padding: 0.5em;
                font-size: 1em;
                background-color: #fff;
                border-radius: 5px;
                border: none;
                box-shadow: 0 0 10px rgb(146, 140, 140);

                @include phone-landscape {
                    width: 90%;
                }

                @include small-phone-landscape {
                    width: 90%;
                }

                @include phone-portrait {
                    width: 90%;
                }

                @include small-phone-portrait {
                    width: 90%;
                }
            }

            input:focus-visible {
                outline: none;
                box-shadow: 0 0 5px #ab1e43;
            }

            textarea {
                resize: none;
                height: 10em;
                font-family: $cr-font;
                font-style: normal;
                letter-spacing: 0.08em;
                padding: 0.5em;
                font-size: 1em;
                background-color: #fff;
                border-radius: 5px;
                border: none;
                box-shadow: 0 0 10px rgb(146, 140, 140);

                @include phone-landscape {
                    width: 90%;
                }

                @include small-phone-landscape {
                    width: 90%;
                }

                @include phone-portrait {
                    width: 90%;
                }

                @include small-phone-portrait {
                    width: 90%;
                }
            }

            textarea:focus-visible {
                outline: none;
                box-shadow: 0 0 5px #ab1e43;
            }
        }
    }
}


.btn {
    border: none;
    background-color: #ab1e43;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    font-size: 0.85em;
    font-family: $cr-font;
    font-style: normal;
    letter-spacing: 0.08em;
    box-shadow: 0 0 5px #ab1e43;
    border: 1px solid white;
    font-weight: 600;
    margin: 1em;
    width: 17em;
    cursor: pointer;


    @include phone-landscape {
        width: 90%;
        margin-bottom: 1em !important;
    }

    @include small-phone-landscape {
        width: 90%;
        margin-bottom: 1em !important;
    }

    @include phone-portrait {
        width: 90%;
        margin-bottom: 1em !important;
    }

    @include small-phone-portrait {
        width: 90%;
        margin-bottom: 1em !important;
    }
}

.btn:hover {
    box-shadow: 0 0 10px #ab1e43;
    border: 2px solid white;
    background-color: #cc1344;
}

.cancel {
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    color: black;
    font-size: 0.85em;
    font-family: $cr-font;
    font-style: normal;
    letter-spacing: 0.08em;
    font-weight: 600;
    margin: 1em 2em;
    width: 17em;
    cursor: pointer;
}

.error-box {
    text-align: left;
    margin: 10px 5px;
    font-size: 0.75em;
    font-family: $cr-font;
    font-style: normal;
    letter-spacing: 0.08em;
    font-weight: 600;
    color: red;
}


:host ::ng-deep {
    .p-button {
        margin: 0 .5rem 0 0;
        min-width: 10rem;
    }

    .p-dialog .p-dialog-header .p-dialog-title {
        font-size: 1.3em;
        font-family: $cr-font;
        font-style: normal;
        letter-spacing: 0.08em;
        font-weight: bold;
        text-align: center;
        color: #ab1e43;
    }

    .p-dialog .p-dialog-footer {
        @include phone-landscape {
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
        }

        @include small-phone-landscape {
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
        }

        @include phone-portrait {
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
        }

        @include small-phone-portrait {
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
        }
    }



    .p-dialog .p-dialog-header .p-dialog-title {
        @include phone-landscape {
            font-size: 1em;
        }

        @include small-phone-landscape {
            font-size: 1em;
        }

        @include phone-portrait {
            font-size: 1em;
        }

        @include small-phone-portrait {
            font-size: 1em;
        }
    }


}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}