<div class="login-component">
    <div class="login-flex-container">
        <div class="left">
            <div class="img-container">
                <img src="../../../assets/images/login-1.png" alt="">
            </div>
        </div>
        <div class="right">
            <div class="login-form">
                <div class="title">
                    <h1 class="login">LOGIN</h1>
                </div>
                <div class="form-fields">
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input type="email" name="email">
                    </div>
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div class="forgot-pass">
                        <h1 class="forgot-pass-link"><a routerLink="/forgot-password">Forgot password</a></h1>
                    </div>
                    <div class="login-btn">
                        <button class="btn">Login</button>
                    </div>
                    <div class="signup-option">
                        <h1 class="signup-title">New to Ek Sambandh?</h1>
                        <h1 class="link"><a routerLink="/signup">Create a New Account</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>