/* You can add global styles to this file, and also import other style files */
@import './assets/scss/varibles.scss';

body {
    margin: 0px;
    background-image: url('./assets/images/bg-img/02.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #ab1e43;
}

body::-webkit-scrollbar {
    width: 12px;

}

body::-webkit-scrollbar-track {
    background: #ffffff;

}

body::-webkit-scrollbar-thumb {
    background-color: #ab1e43;
}