<div class="questions-container">
    <div class="question-box">
        <div class="title">
            <h1>
                Level 4
            </h1>
        </div>
        <div class="questions-answer" [formGroup]="questionsPart4">
            <div class="question-form" *ngFor="let questions of questionsLevel4">
                <div class="question">
                    <label><span>{{questions.index}}.</span>{{questions.question}}</label>
                    <div *ngFor="let answers of questions.options">
                        <div class="btns" *ngIf="questions.type !== 'img'">
                            <p-radioButton name="{{questions.name}}" value="{{answers.ansType}}"
                                [label]="answers.answer" inputId="{{questions.name+answers.id}}"
                                [formControlName]="questions.name"></p-radioButton>
                        </div>
                        <div class="img-answers" *ngIf="questions.type === 'img'">
                            <p-radioButton name="{{questions.name}}" value="{{answers.ansType}}"
                                inputId="{{questions.name+answers.id}}" [formControlName]="questions.name"
                                (onClick)="save()"></p-radioButton>
                            <div class="img">
                                <label for="{{questions.name}}" *ngIf="answers?.title">{{answers?.title}}</label>
                                <label for="{{questions.name+answers.id}}"><img [src]="answers.answer"
                                        alt="{{answers.answer}}"></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="bottom">
                <div class="next-btn">
                    <button (click)=" back()">Back</button>
                </div>
                <div class="next-btn" *ngIf="!isDisable">
                    <button (click)="submitForm4()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>